<header class="home">
  <h1>CookBook</h1>
</header>

<ul>
  <% Category.all.each do |cat| %>
    <li><a href="/recipes/category/<%= cat.name %>"><%= cat.name %>s</a></li>
  <% end %>
</ul>

<% @recipes.each do |recipe| %>
  <header class="recipe">
    <span><%= recipe.name %></span><a href="/recipes/<%= recipe.id %>/edit/">Edit</a><%= button_to("Delete", recipe_path(recipe), method: :delete) %><a href="/recipes/<%= recipe.id %>/">Show</a>
  </header>
  <article class="recipe">
    <table>
      <thead>
        <td><b>Ingredients</b></td>
        <td><b>Description</b></td>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <% recipe.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <%= recipe.description %>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
<% end %>