<%= form_for @recipe do |f| %>
  <table>
    <tr>
      <td>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :ingredients %>
        <%= f.select :ingredients, 
          Ingredient.all_name_id_array, {},
          {:prompt => "Please select", :multiple => true} 
        %>
      </td>
      <td>
        <%= f.label :instructions %>
        <%= f.text_area :instructions %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :category %>
        <%= f.select :category_id, Category.all_name_id_array %>
      </td>
      <td>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit 'Create Recipe' %></td>
      <td></td>
    </tr>
  </table>
<% end %>