<br/>
<header class="recipe">
  <span><%= @recipe.name %></span><a href="/recipes/<%= @recipe.id %>/edit/">Edit</a><%= button_to("Delete", recipe_path(@recipe), method: :delete) %>
</header>
<article class="recipe">
  <table>
    <thead>
      <td><b>Category</b></td>
      <td><b>Description</b></td>
    </thead>
    <tbody>
      <tr>
        <td><%= @recipe.category.name %></td>
        <td>
          <%= @recipe.description %>
        </td>
      </tr>
      <tr>
        <td><b>Ingredients</b></td>
        <td><b>Instructions</b></td>
      </tr>
      <tr>
        <td>
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= @recipe.instructions %></td>
      </tr>
    </tbody>
  </table>
</article>