<%= form_for @ingredient do |f| %>
  <table>
  <h1>Update Ingredient</h1>
    <tr>
      <td>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit 'Update Ingredient' %></td>
    </tr>
  </table>
<% end %>