<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul>
      <a href='/'><li>Home - All Recipes</li></a>
      <a href='/recipes/new'><li>New Recipie</li></a>
      <a href='/categories'><li>All Categories</li></a>
      <a href='/categories/new'><li>New Category</li></a>
      <a href='/ingredients'><li>All Ingredients</li></a>
      <a href='/ingredients/new'><li>New Ingredient</li></a>
      <li>
        <form method='GET' action='/recipes/index/search'>
          <input type="text" placeholder='Search' name='term'><button type="submit"><img src="<%= asset_path 'SearchIcon.png' %>"></button>
          <!-- <input type="image" src="<%= asset_path 'SearchIcon.png' %>"> -->
        </form>
      </li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
